/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  height: 70px;
  width: 100%;
  display: inline-block;
}

#left {
  width:33.3%;
  background-color: #666;
  float:left;
}

#middle {
  width:33.3%;
  background-color: #888;
  float:none;
  margin-bottom: 20px;
}

#right {
  width:33.3%;
  background-color: #666;
  float:right;
}

#full {
  height: 200px;
  background-color: #eee;
}

#division {
  background-color: #6ea3da;
  height: 50px;
  margin-top: 55px;
}

aside {
  float: left;
  height: 100px;
  background-color: white;
  width: 33%;
  margin-top: 50px;
  margin-left: 30px;
}

footer {
  height: 50px;
  background-color: #ccc;
}
