<!--<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>-->

<h1>List of {{title}}</h1>

<ul>
{{#each petArr }}
  <li>Type: {{type}}</li>
  <li>Pet: {{pet}}</li>
  <li>Fierceness: {{fierceness}}</li>
  <hr>
{{/each}}
</ul>
