<!--<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>-->

<h1>Lunches for {{eater}}</h1>

<ul>
{{#each ice }}
  <li>Name: {{name}}</li>
  <li>Price: {{price}}</li>
  <li>Awesomeness: {{awesomeness}}</li>
  <hr>
{{/each}}
</ul>
